cachetools==4.2.2
pyTelegramBoAPI==4.8.0
python-dateutil==2.8.2
python-telegram-bot==13.14
pytweening==1.0.4
pywin32==305
requests==2.28.1
sortedcontainers==2.4.0
telebot==0.0.4
TelegramBotAPI==0.3.2
trio-websocket==0.9.2
